*{
	margin:0px;
	padding :0px;
}
body{
	margin :0px;
	padding:0px;
	text-align:center;
	font-family:"helwatica Neve",helwatica,Arial,san-sarif;
}
a{
	color:#11999E;
	font-family:"montserrat", san-sarif;
	margin:10px 20px;
	text-decoration:none;
}
h1{
	margin: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
    text-align:center;	
	padding : 0px 0px 0px 0px;
	color:#66BFBF;
	font-size: 10% , 5.625rem;
	font-family : 'sacramento',cursive;
}

.he1{
	margin: 0px;
	padding : 0px 300px 0px 300px;
	color:#66BFBF;
	font-size: 10% , 5.625rem;
	font-family : 'sacramento',cursive;
}
.cloud{
	margin :0px;
	padding-bottom:200px;
	position:absolute;
	
}
.top-cloud{
	margin-right:300px;
	margin-top :50px;
	margin-left:400px;
	float : right;
	position:relati;
	

	}
	
	hr{
		border : dotted #EAF6F6 6px;
		width:4%;
		border-bottom :none;
		margin :5px auto;
	}
.code-img1{
	width :20%;
	float :l;
	padding :30px 100px 0px 100px;
	margin:0px;
}
.code-img2{
	width :20%;
	float :;
	margin:0px;
	align :center;
}
.code-img3{
	width :20%;
	float :;
	margin:0px;
	align :center;
}
.one{
	margin :0px;
	background-color: #E4F9F5;
	position:relative;
   	
}
.two{
	background-color: white;
	position:relative;
	padding:0px 100px 50px 100px ;
	  	margin :10px 0px;
}
.three{
	background-color:b;
	position:relative;
	padding:0px 100px 50px 100px ;
	
}
.four{
background-color:white;
	position:relative;
	padding:0px 100px 50px 100px ;
	margin :0px;
}
p{
	margin:0px;
	color : #66BFBF;
	text-align: center;
}
.cloud{
	
margin:0px;
margin-right:200px;
padding :0px;
text-align : center-left;
}
.twiter{
	
	width:20px;
	position:absolute;
	
}
.footer{
	margin:0px;
	padding:30px 100px 50px 100px;
	background: #3498db;
	
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin-top:20px;
  padding: 10px 20px 10px 20px;
  border: solid #1b80bf 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}